* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
/* nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 251, 0);
    
    padding: 1rem 5%;
}
nav  h1 {
    color: rgb(61, 61, 61);
    font-weight: 800;
}
h1 a {
    color: rgb(61, 61, 61);
    text-decoration: none;

}

nav .sections a {
    color: rgb(255, 251, 0);
    text-decoration: none;
    background: rgb(61, 61, 61);
    padding: .4rem 1.2rem;
    border-radius: 50px;
}
/* news */

.news-container {
    width: 90%;
    margin: 3rem auto;
}
.news-container h2 {
    color: rgb(61, 61, 61);
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: .5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(61, 61, 61, 0.185);
}
.news-container .notice {
    padding: 2rem 1rem;
    border-bottom: 1px solid rgba(216, 216, 216, 0.185);
    background: rgb(61, 61, 61);

}
.notice .title {
    color: rgb(255, 251, 0);
}

.author{
    width: 90%;
    margin: auto;
    color: rgb(61, 61, 61);
}
.author a {
    color: rgb(61, 61, 61);
}

@media screen and (max-width: 550px) {
    nav {
        flex-wrap: wrap;
        justify-content: center;
    }
    nav  h1 {
        margin-bottom: 1rem;
    }
}